<form>
    <input type="text"   name="nome"    placeholder="Nome"    class="form-control">
    <input type="number" name="idade"   placeholder="Idade"   class="form-control">
    <input type="text"   name="cidade"  placeholder="Cidade"  class="form-control">

    <input type="button" value="Cadastrar" class="btn btn-primary">
    <input type="button" value="Alterar"   class="btn btn-primary">
    <input type="button" value="Remover"   class="btn btn-primary">
    <input type="button" value="Cancelar"  class="btn btn-primary">
</form>